<div class="background" *ngIf="user != null">
  <div class="container container--user-profile">
    <div class="user-header">
      <div class="user-header__container">
        <div class="dp-l-container">
          <img class="dp-l-image" src="../../../../assets/images/background-login-register.png" />
        </div>
        <div class="user-header__container__name">
          <h2>{{ user.full_name }}</h2>
          <h4>@{{ user.username }}</h4>
        </div>
      </div>
    </div>
    <div class="user-container">
      <div class="multi-tab-details">
        <div class="v-desktop">
          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Details">
              <ng-template matTabContent>
                <div class="tab-text">
                  <div
                    class="block"
                    *ngIf="username == loggedInUsername || (username != loggedInUsername && user?.bio !== null)"
                  >
                    <h4 class="title">About Me</h4>
                    <p *ngIf="showBio && user?.bio !== null" class="paragraph">{{ user.bio }}</p>
                    <div *ngIf="username == loggedInUsername">
                      <app-edit-field
                        [fieldValue]="user?.bio"
                        (showFieldEmitter)="showBio = false"
                        (fieldValueEmitter)="updateBioValue($event)"
                        [username]="user.username"
                      ></app-edit-field>
                    </div>
                  </div>
                  <div class="block" *ngIf="user?.technologies !== null || user?.technologies?.length !== 0">
                    <h4 class="title">I am pretty good at</h4>
                    <div class="tech-stack">
                      <div class="tech-stack__item" *ngFor="let tech of user.technologies">{{ tech }}</div>
                    </div>
                  </div>

                  <div class="block"><h4 class="title">Contributions</h4></div>
                </div>
              </ng-template>
            </mat-tab>
            <mat-tab label="Ideas">
              <ng-template matTabContent> <div class="tab-content">Coming Soon</div> </ng-template>
            </mat-tab>
            <mat-tab label="Projects">
              <ng-template matTabContent> <div class="tab-content">Coming Soon</div> </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>

        <div class="v-mobile">
          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Details">
              <ng-template matTabContent>
                <div class="tab-text">
                  <div class="block" *ngIf="user?.bio !== null">
                    <h4 class="title">About Me</h4>
                    <p class="paragraph">{{ user.bio }}</p>
                  </div>

                  <div class="block" *ngIf="user?.technologies !== null || user?.technologies?.length !== 0">
                    <h4 class="title">I am pretty good at</h4>
                    <div class="tech-stack">
                      <div class="tech-stack__item" *ngFor="let tech of user.technologies">{{ tech }}</div>
                    </div>
                  </div>

                  <div class="block"><h4 class="title">Contributions</h4></div>
                </div>
              </ng-template>
            </mat-tab>
            <mat-tab label="Ideas">
              <ng-template matTabContent> <div class="tab-content">Coming Soon</div> </ng-template>
            </mat-tab>
            <mat-tab label="Projects">
              <ng-template matTabContent> <div class="tab-content">Coming Soon</div> </ng-template>
            </mat-tab>
            <mat-tab label="Contact">
              <ng-template matTabContent>
                <div class="tab-contact">
                  <div class="profile-details">
                    <div class="detail-block">
                      <mat-icon class="detail-block__icon">mail_outline</mat-icon> {{ user.email }}
                    </div>
                    <div class="detail-block">
                      <mat-icon class="detail-block__icon">location_on</mat-icon> Lucknow, India
                    </div>

                    <div class="detail-block">
                      <mat-icon class="detail-block__icon">cake</mat-icon> {{ user.birth_date | date: 'longDate' }}
                    </div>

                    <div
                      class="detail-block social-links"
                      *ngIf="user?.social_links !== null || user?.social_links?.length !== 0"
                    >
                      <a *ngFor="let sociallink of sociallinks" [href]="sociallink.socialLink" target="_blank">
                        <img
                          matTooltip="@{{ sociallink.username }}"
                          class="social-icon"
                          src="{{ sociallink.logoUrl }}"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <div class="v-desktop">
        <div class="profile-details">
          <div class="detail-block"><mat-icon class="detail-block__icon">mail_outline</mat-icon> {{ user.email }}</div>
          <div class="detail-block"><mat-icon class="detail-block__icon">location_on</mat-icon> Lucknow, India</div>

          <div class="detail-block">
            <mat-icon class="detail-block__icon">cake</mat-icon> {{ user.birth_date | date: 'longDate' }}
          </div>

          <div class="detail-block social-links" *ngIf="user?.social_links">
            <a *ngFor="let sociallink of sociallinks" [href]="sociallink.socialLink" target="_blank">
              <img matTooltip="@{{ sociallink.username }}" class="social-icon" src="{{ sociallink.logoUrl }}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
